*

{

	margin: 0;
	padding:0px;

}

body
{

	background: url(../img/fundo.jpg);
	webkit-background-size: cover;
	background-size: cover;
}
body
{
	background-color: #00FF00;
}

.crud
{

	text-align: center;
	position: absolute;
	width: 300px;
	height: 400px;
	background-color: black;
	margin-top: 80px;
	margin-left: 750px;
	border-radius: 20px;

}

.crud label

{

	display: block;
	margin-top: 10px;
	color: #fff;

}
.crud input
{
	display: block;
	text-align: center;
	margin: 10px 0 0 30px;
	width: 80%;
	height: 30px;
}

.crud .b input
{
	display: block;
	color: red;
	border-radius: 20px;
	width: 30%;
	margin-left: 35%;

}
.table
{
	color: #fff;
}

hi
{

	text-align: center;
}

.subtitulo
{
	font-size: 12px;
}

.crud .b input:hover
{

	color:  blue;
}

table td
{
	text-align: center;
	border: 1px #000099 dotted;
}
table td
{
	text-align: center;
	border: 1px #000099 dotted;
}

table .sin

{
	border: 0;
}

table .primeira_fila
{
	font-size: 1.5em;
	text-decoration: underline;
	background-color: #000;
}
.centrado
{
	text-align: center;
}